{% extends 'admin.html.twig' %}

{% block title %}
	{{ parent() }}
	| Admin - Arôme
{% endblock %}

{% block admin_content_title %}
	Gestion des arômes
{% endblock %}

{% block admin_content %}
	<div class="my-3">
		<a href="{{ path('app_admin_aroma_new') }}" class="btn btn-primary rounded-pill text-tertiary fw-bolder">
			<span class="icon-btn">
				{% include 'components/svg/_icon_add.svg.twig' %}
			</span>
			Ajouter un nouveau arôme</a>
	</div>

	<div class="table-responsive">
		<table class="table table-primary table-striped table-hover">
			<thead class="sticky-top">
				<tr>
					<th class="col-9 bg-primary text-tertiary align-middle custom-rounded">Nom de l'arôme</th>
				</tr>
			</thead>
			<tbody>
				{% for aroma in aromas %}
					<tr>
						<td class="col-9 text-tertiary align-middle">{{ aroma.name|capitalize }}</td>
						<td class="text-center">
							<div class="d-flex justify-content-md-center flex-nowrap gap-3">
								<a class="icon-link link-tertiary mx-2 text-decoration-none" href="{{ path('app_admin_aroma_edit', {'id': aroma.id }) }}">
									{{ include('/components/svg/_icon_edit.svg.twig') }}
									Éditer
								</a>
								{{ include('./admin/aroma/_delete_form.html.twig') }}
							</div>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6">Aucune donnée</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
